@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}


:root {
  --sidebar-width-full: 230px;
  --sidebar-width-collapsed: 60px;
}

